.booking-login {
    font-weight: bold;
    box-sizing: border-box;
    width: 300px;
    background-color: #40d9ac;
    border: none !important;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 60px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.daily-price-header {
    margin: 2px 0 0;
    line-height: 0.9;
    font-weight: 600;
    font-size: 1.4rem;
    color: #333333;
    font-family: $serif;
}

.per-night {
    font-size: 12px;
    color: #a1a1a1;
    padding-top: 3px;
}

.booking-form-container{
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box;
}
.booking-dates {
    display: flex;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-submit {
    height: 62px;
    text-align: center;
    background: $hipcamp-green;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.booking-submit:hover {
    background: $hipcamp-green-hover;
}

.booking-guests-selector {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 18px 10px;
    border: 1px solid #ebebeb;
    text-align: center;
}

.booking-details {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
}

.booking-date-input {
    width: 37%;
    border: 1px solid #ebebeb;
    padding: 15px 10px;
}

.booking-date {
    font-size: 13px;
    width: 123px;
}

.guest-meter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
}

.check, .guests{
    margin: 0 0 5px 0;
}

.booking-plus, .booking-minus {
    cursor: pointer;
}
