.booking-login {
    font-weight: bold;
    box-sizing: border-box;
    width: 300px;
    background-color: #40d9ac;
    border: none !important;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 60px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}