.filters-aside{
  margin-top: 110px;
  list-style: none;
  position: sticky;
  margin-left: 15px;
  min-width: 200px;
  width: 200px;
  background-color: #f1f1f1;

  li {
    padding-left: 2px;
    margin: 11px 10px;
  }

  label {
    padding-left: 5px;
  }
}

.filter-header {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 700;
  color: $font-medium-gray;
}

.clear-filters {
  margin-top: 10px;
  margin-left: 15px;
  background-color: #40d9ac;
  color: white;
  width: 100px;
  height: 25px;
  font-weight: 700;
  text-align: center;
  margin: 10px 11px;
  border: 3px solid transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background: white left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background: $hipcamp-green -19px top no-repeat;
}
