.listing-show-page {
  display: flex;
  flex-direction: column;
}

.listing-container {
    min-height: 90vh;
    display: flex;
    margin: 0 auto;
    margin-top: 75px;
    width: 65vw;
}

.listing-left {
  width: 67%;
  padding-right: 75px;

  main {
    width: 65%;
    font-size: 15px;
    padding-top: 0px;
    margin: 0;
    padding-right: 7px;
    font-weight: 200;
    letter-spacing: 0.03em;
  }
}

.listing-title{
  font-size: 2.3em;
  font-family: $serif;
  color: $font-medium-gray;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 30px 0px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.listing-description{
  padding: 30px 0px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.details-aside {
  display: flex;
  width: 33%;

  .host-info {
    font-size: 15px;
    padding-top: 0px;
    margin: 0;
    padding-right: 7px;

    h3 {
      padding-left: 7px;
      line-height: 1.4;
      font-size: 15px;
      padding-top: 0px;
      margin: 0;
      padding-right: 7px;
    }

    p {
      padding-left: 7px;
      line-height: 1.4;
      font-weight: 200;
      letter-spacing: .03em;
    }
  }
}

.host-avatar {
    width: auto;
    height: 50px;
}