.listings-map {
  height: 95vh;
  width: 100%;
  margin: 0 auto;
}

.listings-map-wrapper {
  height: 100%;
  margin-top: 100px;
  width: 54%;
  position: relative;
}

.map-search-container {
  display: flex;
  height: 100%;
}