.review-form-container {
  display: flex;
  margin: 0 auto;
  width: 65vw;

  input, textarea{
    border: 1px solid #ebebeb;
    margin: 5px;
    padding: 20px;
  }
}

.submit-review {
  background: #40d9ac;
}

textarea {
  width: 27vw;
}

.review-form{
  display: flex;
  flex-direction: row;
}
