.review-form-container {
  height: 50vh;
  margin: 0 auto;
  margin-top: 200px;
  width: 100%;
  

  input {
    background-color: darkcyan;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
  }
}