.listing-photos {
  height: 50vh;
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 95%;
}

.listing-image-carousel {
  height: 50vh;
  top: 50px;
  width: 92%;
  position: relative;
  margin: 0 auto;
  margin-top: 24px;
  height: 50vh;
}

.image-slider-css {
  position: relative;
  display: block;
}

.slider-img {
  height: 50vh;
  width: auto;
}

.slick-list {
  overflow: hidden;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: block;
  position: relative;
}

.slick-slide {
  margin: 5px;
}


.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    position: absolute;
    display: block;
    padding: 0;
}

.slick-prev::before {
  content: '\25c4';
}

.slick-next::before {
  content: '\25ba';
}

.slick-next:before, .slick-prev:before {
  font-size: 35px;
  line-height: 1;
  opacity: .75;
  color: $font-medium-gray;
  font-family: slick;
  -webkit-font-smoothing: antialiased;
}

.slick-arrow {
  color: black;
}

.slick-next {
  right: -35px;
} 

.slick-prev:before {
  font-size: 38px;
}
.slick-prev {
  left: -45px;
}
