.main-top {
    position: relative;
    display: flex;
    top: 115px;
    min-height: 55vh;
    padding-bottom: 10%;
}

.right-main {
  width: 50%;
  
  a {
    border-bottom: 1px solid #ebebeb;
    color: #333333;
  }
  a:hover {
    border-color: #333333;
  }
}

.left-main {
  width: 38%;
  padding: 3vw 8.5vw;

  h2 {
    font-size: 4.3vw;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #333333;
    line-height: .9;
  }
  p{
    letter-spacing: .6px;
    line-height: 1.6;
  }
  .campsite-search {
    height: 95px;
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: thin;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: 0 1px 20px #d8d8d8;
    -webkit-box-shadow: 0 1px 20px #d8d8d8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
  }
}

.right-img-conatiner {
  text-align: right;

  p {
    padding-right: 5px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    color: #a1a1a1;
  }
}

.splash-listing-images {
  width: 60vw;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-weight: 700;
    color: $font-medium-gray;
    padding-bottom: 30px;
    font-size: 2rem;
  }
}

.splash-square-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  padding-bottom: 150px;
}

.splash-square {
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}

.splash-listing-img {
    width: 20vw;
    height: 20vw;
    position: relative;
    cursor: pointer;
}


.full-img {
    display: block;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    cursor: pointer;
}

.splash-image-footer {
  height: 80px;
  padding: 14px;
  position: relative;
  display: block;

  h3 {
    margin: 0;
    letter-spacing: .3px;
    width: fit-content;
    border-bottom: 1px solid transparent;
  }

  h3:hover {
    border-bottom: 1px solid $font-medium-gray;
    cursor: pointer;
  }

  p {
    color: #a1a1a1;
    margin-top: 5.5px;
    font-weight: 100;
    width: fit-content;
  }
}

.splash-search {
  background-color: $hipcamp-green;
  color: white;
  width: 145px;
  height: 55px;
  font-weight: 700;
  text-align: center;
  float: right;
  margin-top: 10px;
  border: 3px solid transparent;
}

.splash-search:hover{
  background-color: white;
  color: $hipcamp-green;
  border: 3px solid $hipcamp-green;
}

@media (max-width: 910px) {
  .main-top {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .search-bar-container {
    width: 80%;
    margin: 0 auto;
  }
  .left-main{
    width: 100%;
    text-align: center;
  }
  .right-main {
    width: 80%;
  }
  .splash-listing-images {
    margin-top: 65px;
  }
  .splash-search {
    display: none;
  }
}


@media (max-width: 510px) {
  .left-main {
    h2 {
      font-size: 25px;
    }
  }
  .splash-listing-images {
    margin-top: 110px;
    width: 95vw;
  }
  .splash-image-footer {
    font-size: 12px;
  }

  .splash-listing-img {
    width: 28vw;
    height: 28vw;
  }
  .signup-button, .login-button, .logout-button {
    font-size: 12px;
    border: none;
  }
  .signup-button:hover, .login-button:hover, .logout-button:hover {
    font-size: 12px;
    border: none;
  }
}
