.main-container {
    position: relative;
    display: flex;
    top: 115px;
    min-height: 100vh;
}

.right-main {
  width: 50%;
  
  a {
    border-bottom: 1px solid #ebebeb;
    color: #333333;
  }
  a:hover {
    border-color: #333333;
  }
}

.left-main {
  width: 38%;
  padding: 3vw 8.5vw;

  h2 {
    font-size: 4.3vw;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #333333;
    line-height: .9;
  }
  p{
    letter-spacing: .6px;
    line-height: 1.6;
  }
  .campsite-search {
    height: 95px;
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: thin;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: 0 1px 20px #d8d8d8;
    -webkit-box-shadow: 0 1px 20px #d8d8d8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
  }
}

.right-img-conatiner {
  text-align: right;

  p {
    padding-right: 5px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    color: #a1a1a1;
  }
}

@media (max-width: 910px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .search-bar-container {
    width: 80%;
    margin: 0 auto;
  }
  .left-main{
    width: 100%;
    text-align: center;
  }
  .right-main {
    width: 80%;
  }
}

@media (max-width: 510px) {
  .left-main {
    h2 {
      font-size: 25px;
    }
  }
}