.signup {
  font-weight: bold;
}

.welcome-back {
  text-align: center;
}

.modal-child, .signup-modal-child {
  small {
    font-weight: lighter;
    letter-spacing: .5px;
    font-size: 12px;
    color: #a1a1a1;
  }
  big {
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.6px;
    color: #333333;
  }
}